#app-name {
    text-align: center;
    color: blueviolet;
}

#search-text {
    border-radius: 20px;
    padding: 1px; 
    position: absolute;
    left: 43.5%;
}

#add-recipe {
    position: absolute;
    left: 43.5%;
    color: blueviolet;
    background-color: whitesmoke;
}